#div1 {              
    background-color: white;
    width: 550px;
    border: 1px solid lightgray;
    text-align: center;
    font-style: italic;
    font-size: medium;
    padding: 10px;                
    margin: 25px;
    margin: auto;
    
    }
#div2 {
    float: inline-end;
    background-color: white;
    width: 300px;
    border: 1px solid lightgray;
    text-align: center;
    font-style: italic;
    font-size: medium;
    padding: 10px;
    margin: 25px;
    }
#h1final {
    text-align: center;
    background-color: #dcdcf4;
    }