html {

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

nav {
    border: 2px solid #094194; 
    background-color: #094194;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

}

a {
    padding: 0 10px;
    color: #ffffff;
}